.filter-selection {
   position: relative;
   padding-right: 15px;
   color: #678193;
   cursor: pointer;

   &[open] &__header:before {
      content: '';
      display: block;
      background: transparent;
      position: fixed;
      top: 0;
      left: 0;
   }

   &[open] &__header:after {
      transform: rotate(180deg);
   }

   &__header {
      list-style: none;
      border-top: 1px solid #F2F5F7;
      padding: 10px 0;

      &-title {
         color: #466377;
         font-weight: 500;
      }

      &:after {
         content: '▼';
         display: inline-block;
         position: absolute;
         right: 0;
         top: 0;
         padding: 10px;
         font-size: 8px;
         color: #678193;
         transform-origin: center center;
         transition: transform ease-in-out 100ms
      }
   }
}