@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.catalog {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 5.7%;
}
.catalog__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.catalog__header-params {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin-left: auto;
}

.breadcrumbs {
  z-index: 1;
}
.breadcrumbs__list-item {
  display: inline-flex;
  vertical-align: top;
  list-style: none;
}
.breadcrumbs__list-item a, .breadcrumbs__list-item span {
  cursor: pointer;
  display: inline-block;
  color: #678193;
  font-size: 14px;
  line-height: 24px;
}
.breadcrumbs__list-item a:hover, .breadcrumbs__list-item span:hover {
  color: #678193;
}
.breadcrumbs__list-item a.span, .breadcrumbs__list-item span.span {
  color: #678193;
  transition: color 0.2s ease-in-out;
}
.breadcrumbs__list-item:before {
  content: "/";
  display: inline;
  vertical-align: baseline;
  color: #A1AEB7;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 4px;
}
.breadcrumbs__list-item:first-child:before {
  content: "";
  margin: 0;
}
.breadcrumbs__list-item:last-child .breadcrumbs__text {
  text-decoration: underline;
}

.sort {
  position: relative;
  width: 140px;
  font-size: 12px;
  color: #678193;
  border-bottom: 1px solid #C2D1D9;
}
.sort[open] {
  z-index: 5;
}
.sort[open] .sort__radios:after {
  transform: rotate(180deg);
}
.sort__radios {
  counter-reset: radios;
  padding: 10px 15px;
  cursor: pointer;
  list-style: none;
}
.sort__radios::-webkit-details-marker {
  display: none;
}
.sort__radios:after {
  content: "▼";
  font-size: 8px;
  color: #787676;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px;
  transform-origin: center center;
  transition: transform ease-in-out 100ms;
}
.sort__radios:focus {
  outline: none;
}
.sort__radios input[type=radio]:checked {
  display: inline;
  color: #678193;
  font-weight: 500;
  display: block;
}
.sort__radios input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: none;
}
.sort__radios input[type=radio]:after {
  content: attr(title);
  display: inline;
}
.sort__list {
  width: 100%;
  position: absolute;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid rgba(103, 129, 147, 0.15);
  box-sizing: border-box;
}
.sort__list-item {
  padding: 5px 0;
}
.sort__list-label {
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

.filter {
  background-color: #FFF;
  position: relative;
  width: 240px;
  color: #678193;
  cursor: pointer;
}
.filter__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  height: calc(100vh - 100px);
  font-size: 12px;
  overflow-y: scroll;
  scrollbar-color: #E2E2E2 #678193;
  scrollbar-width: auto;
}
@supports (scrollbar-gutter: stable) {
  .filter__content {
    overflow: auto;
    scrollbar-gutter: stable;
  }
}
.filter__content::-webkit-scrollbar {
  width: 4px;
  background-color: #E2E2E2;
  border-radius: 5px;
}
.filter__content::-webkit-scrollbar-thumb {
  background-color: #678193;
  border-radius: 5px;
}
.filter .filter-btn {
  padding: 15px 15px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  font-size: 12px;
}
.filter .filter-btn__submit {
  background-color: #678193;
  padding: 10px;
  color: #FFF;
  font-weight: 500;
}
.filter .filter-btn__clear {
  color: rgba(103, 129, 147, 0.8);
  background: transparent;
}
.filter[open] {
  z-index: 5;
}
.filter[open] .filter__header:before {
  content: "";
  display: block;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}
.filter[open] .filter__header:after {
  transform: rotate(180deg);
}
.filter__header {
  list-style: none;
  border-bottom: 1px solid #F2F5F7;
  padding: 10px 0;
}
.filter__header-title {
  color: #466377;
  font-weight: 500;
}
.filter__header:after {
  content: "▼";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  font-size: 8px;
  color: #678193;
  transform-origin: center center;
  transition: transform ease-in-out 100ms;
}

.filter-selection {
  position: relative;
  padding-right: 15px;
  color: #678193;
  cursor: pointer;
}
.filter-selection[open] .filter-selection__header:after {
  transform: rotate(180deg);
}
.filter-selection__header {
  list-style: none;
  border-top: 1px solid #F2F5F7;
  padding: 10px 0;
}
.filter-selection__header-title {
  color: #466377;
  font-weight: 500;
}
.filter-selection__header:after {
  content: "▼";
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  font-size: 8px;
  color: #678193;
  transform-origin: center center;
  transition: transform ease-in-out 100ms;
}

.price__range-slider {
  padding: 10px 0 30px;
  position: relative;
}
.price__range-slider .slider {
  position: relative;
  z-index: 1;
  height: 2px;
}
.price__range-slider .slider > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #A1AEB7;
}
.price__range-slider .slider > .range {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #466377;
}
.price__range-slider .slider > .thumb {
  position: absolute;
  cursor: pointer;
  z-index: 3;
  width: 10px;
  height: 8px;
  background-color: #466377;
  transition: box-shadow 0.3s ease-in-out;
}
.price__range-slider .slider > .thumb.left {
  left: 0;
  transform: translate(0px, -3.5px);
}
.price__range-slider .slider > .thumb.right {
  right: 0;
  transform: translate(0px, -3.5px);
}
.price input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 4px;
  width: 100%;
  opacity: 0;
}
.price input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 16px;
  height: 16px;
  border-radius: 0;
  border: 0 none;
  background-color: #466377;
  -webkit-appearance: none;
  cursor: pointer;
}
.price .price__value-min,
.price .price__value-max {
  color: #678193;
  white-space: nowrap;
  font-size: 13px;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%) translateY(0);
}

.checkbox__item {
  padding: 5px 0;
}
.checkbox__item-input {
  display: none;
}
.checkbox__item-input:checked + .checkbox__item-label::after {
  background: url("../img/checked.png") center/10px 10px no-repeat #678193;
}
.checkbox__item-label {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
}
.checkbox__item-label::before {
  content: "";
  align-self: flex-start;
  margin-right: 10px;
  flex: 0 0 18px;
  height: 18px;
  background-color: #fff;
  border: 1px solid #678193;
}
.checkbox__item-label::after {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  top: 0;
  left: 0;
  transition: bg 0.3s ease 0s;
}
.checkbox__item-btn {
  background-color: transparent;
  color: #678193;
  font-size: 10px;
  font-weight: 500;
  text-decoration-line: underline;
}

.params__selected {
  display: none;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
  margin-left: 50px;
}
.params__selected-title {
  padding: 10px 0;
  color: #678193;
  font-size: 14px;
  font-weight: 700;
}
.params__selected-btns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.params__selected-btns button {
  color: #678193;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 10px;
  border: 1px solid #CEDAE1;
  background-color: transparent;
  cursor: pointer;
}

.selected {
  display: flex;
}

.goods {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 25px 0;
}
.goods__filter {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 0 0 5.7%;
}
.goods__list {
  width: 76%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 25px;
  grid-row-gap: 20px;
}
.goods__list .card-img {
  position: relative;
  background-color: #F2F5F7;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #C2D1D9;
}
.goods__list .card-img__container {
  max-width: 100%;
  height: 365px;
  display: block;
}
.goods__list .card-img__container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.goods__list .card-img__badge {
  background: #678193;
  position: absolute;
  top: 0;
  color: #FFF;
  font-size: 12px;
  padding: 4px 10px;
  margin-top: 10px;
}
.goods__list .card-img__badge-bottom {
  position: absolute;
  bottom: 0;
  background: #678193;
  color: #FFF;
  padding: 4px 10px;
  margin-bottom: 10px;
}
.goods__list .card-img__favourite {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.goods__list .card-img__favourite button {
  background: transparent;
}
.goods__list .card-info {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  line-height: 24px;
  font-size: 18px;
  color: #505D68;
}
.goods__list .card-info a {
  color: #505D68;
}
.goods__list .card-info__price {
  font-weight: 700;
}
.goods__list .card-info .old-price {
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
}
.goods__list .card-info__colors {
  font-size: 10px;
}
.goods__btn-load-more {
  padding: 15px 0;
  align-self: center;
  background-color: transparent;
  color: #678193;
  font-size: 14px;
  font-weight: 500;
  text-decoration-line: underline;
}

.filter-closed {
  width: 100%;
}

.pagination {
  align-self: center;
  padding: 25px 0 0;
}
.pagination__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
}
.pagination__arrow {
  cursor: pointer;
}
.pagination__arrow:last-child img {
  transform: rotate(180deg);
}
.pagination__item {
  display: flex;
  width: 24px;
  height: 24px;
  border: 2px solid #678193;
  color: #678193;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.pagination__item:nth-child(4) {
  border: none;
}
.pagination .active {
  background: #678193;
  color: #fff;
}