.breadcrumbs {
   z-index: 1;
   &__list{
      &-item{
         display: inline-flex;
         vertical-align: top;
         list-style: none;
         
         a, span {
            cursor: pointer;
            display: inline-block;
            color: #678193;
            font-size: 14px;
            line-height: 24px;

            &:hover {
               color: #678193;
            }

            &.span {
               color: #678193;
               transition: color .2s ease-in-out;
            }
         }

         &:before {
            content: '/';
            display: inline;
            vertical-align: baseline;
            color: #A1AEB7;
            font-size: 12px;
            font-weight: 400;
            line-height: 24px;
            margin: 0 4px;
         }

         &:first-child:before {
            content: '';
            margin: 0;
         }

         &:last-child .breadcrumbs__text {
            text-decoration: underline;
         }
      }
   }
}

