.header {
	// шапка фіксована
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;

	font-size: 12px;

	// .header__top
	&__top {
		background-color: #e8e8e8;
	}
	// .header__container
	&__container {
		// .header__container--top
		// .header__container--bottom
		&--top,
		&--bottom {
			display: flex;
			justify-content: space-between;
			align-items: center;

			min-height: 48px;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		&--top {
		}
		&--bottom {
			min-height: 64px;
		}
	}
	// .header__phone
	&__phone {
		display: flex;
		align-items: center;
		column-gap: 8px;
	}
	// .header__message
	&__message {
	}
	// .header__lang-change
	&__lang-change {
	}
	/* 
		* Нижня частина хедера
	*/
	// .header__bottom
	&__bottom {
		background-color: #fff;
	}
	// .header__logo
	&__logo {
		img {
			max-width: 100%;
		}
	}
	// .header__menu
	&__menu {
	}
	// .header__actions
	&__actions {
	}
}
.phone-header {
	// .phone-header__link
	&__link {
		display: flex;
		align-items: center;
		column-gap: 8px;
	}
}
.lang-change {
	position: relative;
	min-width: 49px;

	&[open] {
		z-index: 5;
	}

	&[open] &__list {
		opacity: 1;
	}

	// накриває собою неклікабельний інпут
	&__radios::before {
		content: "";
		width: 100%;
		height: 100%;
		background: transparent;
		position: absolute;
		top: 0;
		left: 0;
	}

	&[open] &__radios:after {
		transform: rotate(180deg);
	}

	// .lang-change__radios
	&__radios {
		position: relative;

		padding: 8px 0;

		counter-reset: radios;
		cursor: pointer;
		list-style: none;

		&::-webkit-details-marker {
			display: none;
		}

		&:after {
			content: "▼";
			font-size: 8px;
			color: #787676;
			display: inline-block;
			position: absolute;
			right: 0;
			top: 12px;
			transform-origin: center center;
			transition: transform ease-in-out 100ms;
		}
		&:focus {
			outline: none;
		}
		input[type="radio"]:checked {
			display: inline;
			color: #678193;
			font-weight: 500;
			display: block;
		}
		input[type="radio"] {
			appearance: none;
			display: none;
		}
		input[type="radio"]:after {
			content: attr(title);
			display: inline;
		}
	}
	// .lang-change__list
	&__list {
		width: 100%;
		position: absolute;
		background-color: #fff;
		border: 1px solid rgba(103, 129, 147, 0.15);
		box-sizing: border-box;
	}
	// .lang-change__item
	&__item {
		padding: 10px 10px;

		transition: all 300ms ease;
		@media (any-hover: hover) {
			&:hover {
				background-color: #678193;
				color: #fff;
			}
		}
	}
	// .lang-change__label
	&__label {
		width: 100%;
		display: flex;
		cursor: pointer;
		justify-content: space-between;
	}
}
.menu {
	// .menu__body
	&__body {
	}
	// .menu__list
	&__list {
		display: flex;
		column-gap: 24px;
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
	}
}
.actions-header {
	display: flex;
	column-gap: 24px;
	// .actions-header__search
	&__search {
	}
	// .actions-header__link
	&__link {
	}
}
.search-header {
	display: flex;
	max-width: 147px;

	position: relative;
	padding-bottom: 4px;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: 0;
		left: 0;
		background-color: rgba(161, 174, 183, 0.63);
	}
	// .search-header__input
	&__input {
		padding-left: 12px;
		padding-right: 8px;
		width: 100%;
	}
	// .search-header__button
	&__button {
	}
}
.icon-burger {
}
