// підключення шрифтів
@import url("https://fonts.googleapis.com/css?family=Ubuntu:regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap");
body {
	font-family: "Ubuntu";
	color: #a1aeb7;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5; /* 24px */
}

@import "_reset";
@import "_common";
@import "_header";
@import "_index";

// обмежуючий контейнер
[class*="__container"] {
	padding-left: 72px;
	padding-right: 72px;
}
